.app-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.places {
  display: flex;
  background-color: rgb(47, 53, 61);
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  width: 400px;
}

.places__heading {
  margin: 0 0 0 10px;
  color: #fff;
}